.Projects {
  position: absolute;
  top: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}

.heading {
  font-size: 3.5rem;
  opacity: 0.35;
  color: var(--primary-yellow);
  padding: 2rem 0;
}

.headingProjects {
  font-size: 3.5rem;
  text-align: center;
  color: var(--primary-yellow);
  padding: 2rem 0;
}

.year {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  border: none;
  background-color: #000000;
  cursor: pointer;
  padding: 2rem;
}

.arrow:focus {
  outline: none;
}

.year_display {
  color: var(--primary-yellow);
  font-family: var(--primary-font);
  font-size: 1.7rem;
}

.socialLink {
  color: var(--primary-yellow);
  transition: var(--transition);
}

.socialLink:hover {
  color: #ffffff;
}

.projectsSection {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

.project {
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  position: absolute;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  left: 0;
  background: #000000;
  color: var(--primary-yellow);
  font-family: var(--primary-font);
  transform: translateY(100%);
  transition: var(--transition);
}

.info span {
  color: #ffffff;
}

.project:hover .info {
  transform: translateY(0);
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
  .heading {
    font-size: 4rem;
  }
  .headingProjects {
    font-size: 4rem;
  }
  .socialLink {
    height: 48px;
    width: 48px;
  }
  .year_display {
    font-size: 1.9rem;
  }
}

@media (min-width: 992px) {
  .container {
    width: 992px;
  }
  .heading {
    font-size: 5rem;
  }
  .headingProjects {
    font-size: 5rem;
  }
  .socialLink {
    height: 54px;
    width: 54px;
  }
  .year_display {
    font-size: 2.2rem;
  }
  .projectsSection {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .heading {
    font-size: 5.6rem;
  }
  .headingProjects {
    font-size: 5.6rem;
  }
  .socialLink {
    height: 64px;
    width: 64px;
  }
  .year_display {
    font-size: 2.6rem;
  }
  .projectsSection {
    grid-template-columns: 50% 50%;
  }
}
